.comment
  .user-name
    = comment.user.username
  .comment-content
    = comment.comment
  - if comment.user == current_user
    = link_to image_comment_path(image, comment), method: :delete, data: { confirm: "Are you sure?" } do
      %span(class="glyphicon glyphicon-remove delete-comment-icon")