.comment
  .user-name
    = link_to comment.user.username, profile_path(comment.user.username)
  .comment-content
    = comment.comment
  - if comment.user.id == current_user.id
    = link_to image_comment_path(image, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do
      %span(class="glyphicon glyphicon-remove delete-comment-icon")