%h1 Welcome to AnxietyGram
%h4 Latest submission!...
%div.flex-image
  = image_tag @welcome_image.graphic.url(:medium), class: 'homepage-image'
%br
= link_to "Enter to endlessly compare yourself to others", images_path
  