%h1 Welcome to AnxietyGram (beta)
%h4 Latest submission!...
- if @welcome_image
  = image_tag @welcome_image.graphic.url(:medium), class: ''
  = @welcome_image.caption
- else
  = image_tag 'default-welcome.jpg'
= link_to "Enter to endlessly compare yourself to others", images_path
      