%h1 Images

- @images.each do |image|
  .posts-wrapper.row
    .post
      .post-head
        = image.user.username
      .image.center-block
        = image_tag image.graphic.url(:medium), class: 'img-responsive'
      %p.caption
      = image.caption
    = link_to "View comments", image_path(image)