= render 'image', image: @image

.text-center.edit-links
  - if @image.user.id  == current_user.id
    = link_to "Edit image", edit_image_path(@image.id)
  = link_to "Add Comment", new_image_comment_path(@image.id)
  = link_to "Go back", images_path
